<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>navigationBar</key>
	<dict>
		<key>barTintColor</key>
		<string>#eee</string>
		<key>statusBarStyle</key>
		<integer>0</integer>
	</dict>
	<key>tabBar</key>
	<dict>
		<key>barTintColor</key>
		<string>#eee</string>
	</dict>
	<key>index_0</key>
	<dict>
		<key>image</key>
		<string>index_1</string>
	</dict>
	<key>index_1</key>
	<dict>
		<key>image</key>
		<string>index_2</string>
	</dict>
	<key>title</key>
	<dict>
		<key>textColor</key>
		<string>#000000</string>
		<key>font</key>
		<dict>
			<key>name</key>
			<string>Arial-BoldItalicMT</string>
			<key>size</key>
			<string>18</string>
			<key>bold</key>
			<string>YES</string>
		</dict>
		<key>backgroundColor</key>
		<string>#eee</string>
	</dict>
	<key>detail</key>
	<dict>
		<key>textColor</key>
		<string>#000000</string>
		<key>backgroundColor</key>
		<string>#eee</string>
		<key>font</key>
		<dict>
			<key>size</key>
			<string>12</string>
		</dict>
		<key>numberOfLines</key>
		<integer>0</integer>
	</dict>
	<key>button</key>
	<dict>
		<key>right</key>
		<integer>10</integer>
		<key>text</key>
		<string>点我</string>
		<key>textColor</key>
		<string>#fff</string>
		<key>backgroundImage</key>
		<string>button</string>
	</dict>
	<key>view</key>
	<dict>
		<key>backgroundColor</key>
		<string>#ffffff</string>
	</dict>
	<key>image</key>
	<dict>
		<key>image</key>
		<string>eye</string>
	</dict>
</dict>
</plist>
